#include <windows.h>
#include "main.h"
#define MANIFEST_T 24
#define IDR_XPMANIFEST 1
IDR_XPMANIFEST MANIFEST_T "xpmanifest.xml"

IDD_MAINDLG DIALOGEX 300,300,200,100
CAPTION "FenixMt2 starter"
FONT 8,"MS Sans Serif",0,0,0
// STYLE WS_POPUP|WS_VISIBLE|WS_BORDER|WS_OVERLAPPEDWINDOW|WM_ERASEBKGND
STYLE WS_POPUPWINDOW|WS_VISIBLE
BEGIN
  CONTROL "Запуск",IDC_BUTTON,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,87,25,99,18
  CONTROL "Запуск с AntiDDOS",IDC_BUTTON2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,87,45,99,18
  CONTROL "Запуск secure",IDC_BUTTON3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,87,65,99,18
END

